@tailwind base;
@tailwind components;
@tailwind utilities;


.signin-form-desktop {
  animation: signin-form-desktop-animate 1s ease;
}

@keyframes signin-form-desktop-animate {
  from {
    transform: translate(20%);
  }

  to {
    transform: translateX(0);
  }
}

.signup-form-desktop {
  animation: signup-form-desktop-animate 1s ease;
  transform: translateX(100%);
}

@keyframes signup-form-desktop-animate {
  from {
    transform: translateX(80%);
  }

  to {
    transform: translateX(100%);
  }
}

.signup-banner-desktop {
  animation: signup-banner-desktop-animate 1s ease;
  transform: translateX(100%);
}

@keyframes signup-banner-desktop-animate {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.signin-banner-desktop {
  animation: signin-banner-desktop-animate 1s ease;
  transform: translateX(0);
}

@keyframes signin-banner-desktop-animate {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/*For devices with portrait screens*/
.signin-form-portrait {
  animation: signin-form-portrait-animate 1s ease;
}

@keyframes signin-form-portrait-animate {
  from {
    transform: translate(100%);
  }

  to {
    transform: translateX(0);
  }
}

.signup-form-portrait {
  animation: signup-form-portrait-animate 1s ease;
}

@keyframes signup-form-portrait-animate {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.signup-banner-portrait {
  animation: signup-banner-portrait-animate 1s ease;
  transform: translateY(0);
}

@keyframes signup-banner-portrait-animate {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.signin-banner-portrait {
  animation: signin-banner-portrait-animate 1s ease;
  transform: translateY(0);
}

@keyframes signin-banner-portrait-animate {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }